section {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 20px;
}

#projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;

  .project-header {
    position: relative;
    .proj-header {
      img {
        filter: brightness(50%);
        border-radius: 10px;
      }
    }
    .proj-name {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff8e0 !important;
      text-shadow: 5px 2px 3px rgb(19, 17, 17) !important;
    }
  }
}
