@import url("https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap");
section {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 20px;
}

#projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;

  .project-header {
    position: relative;
    .proj-header {
      img {
        filter: brightness(45%);
        border-radius: 10px;
      }
    }
    .proj-name {
      font-family: "Bowlby One SC", cursive;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff8e0 !important;
      text-shadow: 3px 5px 4px rgb(102, 70, 0) !important;
    }
  }
}
